.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header {
  height: 88px;
  background-color: #fff;
}

.main {
  flex-grow: 1;
  display: flex;
  gap: 8px;
}

.sidebar {
  width: 240px;
  /* background-color: #fff; */
}

.article-list {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.article-list div {
  height: 80px;
  background-color: #fff;
  border-radius: 4px;
}

.article-list div:hover {
  background-color: transparent;
}

.article {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.article-main {
  width: 800px;
  background-color: #fff;
  height: 100%;
}

.article-mulu {
  width: 240px;
  height: 80%;
  background-color: gray;
  /* border: solid 1px #fff; */
}
